<div class="about_template">
	<div class="view">
		<div class="container">
			<div class="about_logo_wrapper">
				<img src="img/application_icon/ic_launcher.svg">
			</div>
			<div class="about_text_wrapper">
				<span class="about_title mediumfont">YAOSWA v1.0.0</span>
				<span class="about_subtitle">Yet Another Open Source Weather Application</span>
				<p class="about_desc">YAOSWA is a weather application created for ubuntu phone.
					<br/>
					<br/>
					This app is powered by <span class="mediumfont"><a href="https://cordova.apache.org/" target="_system">Cordova</a></span>, <span class="mediumfont"><a href="http://openweathermap.org/" target="_system">OpenWeatherMap</a> and <a href="https://angularjs.org/" target="_system">AngularJS</a></span>.
				</p>
				<ul>
					<li>Website and support : <a href="https://github.com/Inglebard/YAOSWA" target="_system">YAOSWA</a></li>
					<li>Licence: <a href="http://opensource.org/licenses/GPL-2.0" target="_system">GPL2</a></li>
				</ul>
			</div>
		</div>
	</div>
</div>
