<div class="about_template">
	<div class="view">
		<div class="container">
			<div class="about_logo_wrapper">
				<img src="img/application_icon/ic_launcher.svg">
			</div>
			<div class="about_text_wrapper">
				<span class="about_title mediumfont">YAOSWA v1.2.0</span>
				<span class="about_subtitle">Yet Another Open Source Weather Application</span>
				<p class="about_desc">
					<span translate>YAOSWA is a weather application created for ubuntu phone.</span>
					<br/>
					<br/>
					<span translate>This app is powered by</span> <span class="mediumfont">Cordova</span>, <span class="mediumfont">OpenWeatherMap</span> <span translate>and</span> <span class="mediumfont">AngularJS</span>.
				</p>
				<ul>
					<li><span translate>Website and support:</span> YAOSWA</a></li>
					<li><span translate>License:</span> GPL2</li>
				</ul>
			</div>
		</div>
	</div>
</div>
