<div class="settings_template">
	<div class="">
		<div class="">
			<form>
				<div class="setting_section_header">
					<span translate>Localisation</span>
				</div>
				<div class="input_control_text">
					<div class="input_control_text_label_desc_icon row" ng-click="toggleSettingData($event)">
						<div class="col-xs-10 input_control_text_label_desc">
							<div class="input_control_text_label">
								<span translate>City</span>						
							</div>
							<div class="input_control_text_desc" ng-show="getDynamicDesc('city')"> 
								<span>{{getDynamicDesc('city')}}</span>				
							</div>
						</div>
						<div class="input_control_text_icon col-xs-2">
							<div class="input_control_text_icon_wrapper pull-right">
								<i class="fa fa-setting-chevron"></i>
							</div>
						</div>
					</div>
					<div class="input_control_text_data">
						<input type="text" ng-model="city" ng-trim="true"/>
					</div>
				</div>
				<div class="input_control_checkbox">
					<div class="input_control_checkbox_label_desc_data row">
						<div class="col-xs-10 input_control_checkbox_label_desc">
							<div class="input_control_checkbox_label">
								<span translate>Accurate</span>						
							</div>
							<div class="input_control_checkbox_desc" ng-show="getDynamicDesc('accurate')"> 
								<span>{{getDynamicDesc('accurate')}}</span>				
							</div>
						</div>
						<div class="input_control_checkbox_data col-xs-2">
							<div class="input_control_checkbox_input_wrapper pull-right">
								<input type="checkbox" ng-model="accurate"/>
							</div>
						</div>
					</div>
				</div>	
				<div class="input_control_checkbox">
					<div class="input_control_checkbox_label_desc_data row">
						<div class="col-xs-10 input_control_checkbox_label_desc">
							<div class="input_control_checkbox_label">
								<span translate>Auto positionning</span>						
							</div>
							<div class="input_control_checkbox_desc" ng-show="getDynamicDesc('geolocate')"> 
								<span>{{getDynamicDesc('geolocate')}}</span>				
							</div>
						</div>
						<div class="input_control_checkbox_data col-xs-2">
							<div class="input_control_checkbox_input_wrapper pull-right">
								<input type="checkbox" ng-model="geolocate"/>
							</div>
						</div>
					</div>
				</div>
				
				<div class="setting_section_header">
					<span translate>Units</span>
				</div>		
				<div class="input_control_select">
					<div class="input_control_select_label_desc_icon row" ng-click="toggleSettingData($event)">
						<div class="col-xs-10 input_control_select_label_desc">
							<div class="input_control_select_label">
								<span translate>Temperature</span>						
							</div>
							<div class="input_control_select_desc" ng-show="getDynamicDesc('tempunit')"> 
								<span>{{getDynamicDesc('tempunit')}}</span>				
							</div>
						</div>
						<div class="input_control_select_icon col-xs-2">
							<div class="input_control_text_icon_wrapper pull-right">
								<i class="fa fa-setting-chevron"></i>
							</div>
						</div>
					</div>
					<div class="input_control_select_data">
						<select ng-model="tempUnit" ng-options="item.label_setting for item in tempList track by item.id" ></select>
					</div>
				</div>
				<div class="input_control_select">
					<div class="input_control_select_label_desc_icon row" ng-click="toggleSettingData($event)">
						<div class="col-xs-10 input_control_select_label_desc">
							<div class="input_control_select_label">
								<span translate>Speed</span>						
							</div>
							<div class="input_control_select_desc" ng-show="getDynamicDesc('speedunit')"> 
								<span>{{getDynamicDesc('speedunit')}}</span>				
							</div>
						</div>
						<div class="input_control_select_icon col-xs-2">
							<div class="input_control_text_icon_wrapper pull-right">
								<i class="fa fa-setting-chevron"></i>
							</div>
						</div>
					</div>
					<div class="input_control_select_data">
						<select ng-model="speedUnit" ng-options="item.label_setting for item in speedList track by item.id" ></select>
					</div>
				</div>
				
				<div class="setting_section_header">
					<span translate>Results</span>
				</div>		
				<div class="input_control_text">
					<div class="input_control_text_label_desc_icon row" ng-click="toggleSettingData($event)">
						<div class="col-xs-10 input_control_text_label_desc">
							<div class="input_control_text_label">
								<span translate>Max Results</span>						
							</div>
							<div class="input_control_text_desc" ng-show="getDynamicDesc('cnt')"> 
								<span>{{getDynamicDesc('cnt')}}</span>				
							</div>
						</div>
						<div class="input_control_text_icon col-xs-2">
							<div class="input_control_text_icon_wrapper pull-right">
								<i class="fa fa-setting-chevron"></i>
							</div>
						</div>
					</div>
					<div class="input_control_text_data">
						<input type="text" ng-model="nbCnt"/>
					</div>
				</div>				
				<div class="setting_section_header">
					<span translate>Languages</span>
				</div>
				<div class="input_control_select">
					<div class="input_control_select_label_desc_icon row" ng-click="toggleSettingData($event)">
						<div class="col-xs-10 input_control_select_label_desc">
							<div class="input_control_select_label">
								<span translate>Application language</span>						
							</div>
							<div class="input_control_select_desc" ng-show="getDynamicDesc('applanguage')"> 
								<span ng-bind-html="getDynamicDesc('applanguage')"></span>				
							</div>
						</div>
						<div class="input_control_select_icon col-xs-2">
							<div class="input_control_text_icon_wrapper pull-right">
								<i class="fa fa-setting-chevron"></i>
							</div>
						</div>
					</div>
					<div class="input_control_select_data">
						<select ng-model="appLanguage" ng-options="item.label_setting for item in appLanguageList track by item.id" ></select>
					</div>
				</div>				
				<div class="input_control_select">
					<div class="input_control_select_label_desc_icon row" ng-click="toggleSettingData($event)">
						<div class="col-xs-10 input_control_select_label_desc">
							<div class="input_control_select_label">
								<span translate>Weather Language</span>						
							</div>
							<div class="input_control_select_desc" ng-show="getDynamicDesc('weatherlanguage')"> 
								<span ng-bind-html="getDynamicDesc('weatherlanguage')"></span>				
							</div>
						</div>
						<div class="input_control_select_icon col-xs-2">
							<div class="input_control_text_icon_wrapper pull-right">
								<i class="fa fa-setting-chevron"></i>
							</div>
						</div>
					</div>
					<div class="input_control_select_data">
						<select ng-model="weatherLanguage" ng-options="item.label_setting for item in weatherLanguageList track by item.id" ></select>
					</div>
				</div>
				
				<div class="form_submit">
					<button ng-click="saveSetting()" translate>Save</button>
				</div>
			</form>
		</div>
	</div>
</div>