@font-face {
    font-family: 'UbuntuM'; /*a name to be used later*/
    src: url('../fonts/ubuntu-font-family/0.80/Ubuntu-M.ttf'); /*URL to font*/
}

@font-face {
    font-family: 'UbuntuR'; /*a name to be used later*/
    src: url('../fonts/ubuntu-font-family/0.80/Ubuntu-R.ttf'); /*URL to font*/
}

@font-face {
    font-family: 'ubuntu-light'; /*a name to be used later*/
    src: url('../fonts/ubuntu-font-family/0.80/ubuntu-light.woff'); /*URL to font*/
}



* {
	font-size:1em;
	box-sizing: border-box;
}

*:after, *:before {
	box-sizing: border-box;
}
html,body {
	height:100%;
	width:100%;
	margin:0;
	position:absolute;
	top:0;
	bottom:0;
	left:0;
	right:0;
}
body {
	color:#5c5c5c;
    font-family: 'UbuntuR';	
}

.clear_both {
	clear:both;
}
.mediumfont {
    font-family: 'UbuntuM';	
}


header {
	box-sizing: border-box;
	height:60px;
	line-height:45px;
	text-align:center;
	position: absolute;
	top:0;
	left:0;
	right:0;
	width:100%;
	background-color:#ecedec;
	color:#5c5c5c;
	padding:5px;
	border-bottom: 10px solid #d7d7d7;
}

#headertitle,
.weather_header {
    font-family: 'ubuntu-light';	
    padding-left: 10px;
    font-size:20px;
    line-height:42px;
}
.header_icon > a{
  font-size: 25px;
  padding: 0 7px;
  color: #5c5c5c;
}

#content {
	box-sizing: border-box;
	position: absolute;
	top:60px;
	bottom:0px;
	left:0;
	right:0;
	width:100%;
	background-color:#ecedec;
	color:#000000;
	overflow-y: auto;
	padding:5px;
}

#content .tab {
	margin:5px;
}
#content .tab_list {
	position: absolute;
	bottom: 0;
	top: 0px;
	left: 0;
	right: 0;	
}

#content .tab,
.weather_data_wrapper {
	position: absolute;
	top: 0;
	bottom: 0;
	overflow-y: auto;
	right: 0;
	left: 0;
}

/*
footer {
	height:30px;
	line-height:30px;
	text-align:center;
	position: absolute;
	bottom:0;
	left:0;
	right:0;
	width:100%;
	background-color:red;
	padding:5px;
}
*/


.about_logo_wrapper {
	text-align: center;
	margin-top:10px;
}

.about_logo_wrapper > img {
	width:33%;
	height:auto;
	display:inline-block;
  	max-width: 200px;
}

.about_text_wrapper {
	text-align:center;
}

.about_title {
  display: block;
  margin: 10px;
  font-size: 1.5em;
  margin-bottom: 2px;
}

.about_template ul {
	list-style: none;
	padding:0;
}
.about_template ul li{
	margin:5px;
}

.about_desc {
	margin-top:35px 0px;
}

#startLoadingOverlay{
	background-color:rgba(255, 255, 255, 1);
	position:absolute;
	top:0;
	bottom:0;
	left:0;
	right:0;
	z-index:100
}

#errorOverlay,
#loadingOverlay {
	background-color:rgba(255, 255, 255, 0.5);
	position:absolute;
	top:0;
	bottom:0;
	left:0;
	right:0;
	z-index:100
}

.error_overlay_wrapper{
	position: absolute;
    left: 50%;
    top: 50%;
    text-align: center;        
    width:100%;
    height:10%;
    margin-left: -50%; /*half width*/
    margin-top: -5%; /*half height*/
}

.loading_overlay_wrapper{
	position: absolute;
    left: 50%;
    top: 50%;
    text-align: center;        
    width:100px;
    height:100px;
    margin-left: -50px; /*half width*/
    margin-top: -50px; /*half height*/
}

img {
	max-width:100%;
	max-height:100%;
}


.current_weather_date,
.hourly_weather_date_day,
.daily_weather_date_day
{
	text-transform:capitalize;
}
/*
.hourly_weather_date_day,
.daily_weather_date_day,
.hourly_weather_desc,
.daily_weather_desc,
.detail_info_weather
*/
.hourly_weather_desc,
.daily_weather_desc {
	font-size:0.75em;
}
.weather_data,
.detail_info_weather,
.summary_info_weather {
	color: #FFFFFF;	
}

.hourly_weather > .detail_info_weather,
.daily_weather > .detail_info_weather
{
	display:none;
}
.hourly_weather.show_weather_detail > .detail_info_weather,
.daily_weather.show_weather_detail > .detail_info_weather
{
	display:block;
}

.weather_data {
  	padding: 5px;
}

.hourly_weather.weather_data,
.daily_weather.weather_data
{
	margin-bottom:5px;
}
.current_weather_desc,
.hourly_weather_desc,
.daily_weather_desc  {
	text-transform: capitalize;	
}

.detail_temp_min_max_group {
	display:inline-block;
}
.detail_icon {
	height:1em;	
}

.detail_icon_bkg {
	background-size: 18px;
	padding-left:20px;
	background-repeat: no-repeat;
	background-position: left center;	
}

.detail_icon_sunrise_bkg {
	background-image:url(/img/details_icon/icon_sunrise.svg);
}
.detail_icon_sunset_bkg {
	background-image:url(/img/details_icon/icon_sunset.svg);
}
.detail_icon_temp_bkg {
	background-image:url(/img/details_icon/icon_temp.svg);
}
.detail_icon_temp_min_max_bkg {
	background-image:url(/img/details_icon/icon_temp_min_max.svg);	
}
.detail_icon_pressure_bkg {
	background-image:url(/img/details_icon/icon_pressure.svg);
}
.detail_icon_humidity_bkg {
	background-image:url(/img/details_icon/icon_humidity.svg);
}
.detail_icon_cloud_bkg {
	background-image:url(/img/details_icon/icon_cloud.svg);
}
.detail_icon_rain_bkg {
	background-image:url(/img/details_icon/icon_rain.svg);
}
.detail_icon_wind_orientation_bkg {
	background-image:url(/img/details_icon/icon_wind_orientation.svg);
}
.detail_icon_wind_speed_bkg {
	background-image:url(/img/details_icon/icon_wind_speed.svg);
}

.summary_info_current_weather {
	text-align:center;
}
.current_weather_logo {
	width: 50%;
	display:inline-block;
}


/*black*/
.weather_data.weather_200,
.weather_data.weather_201,
.weather_data.weather_202,
.weather_data.weather_210,
.weather_data.weather_211,
.weather_data.weather_212,
.weather_data.weather_221,
.weather_data.weather_230,
.weather_data.weather_231,
.weather_data.weather_232,
.weather_data.weather_900,
.weather_data.weather_901,
.weather_data.weather_902,
.weather_data.weather_903,
.weather_data.weather_904,
.weather_data.weather_905,		
.weather_data.weather_906,
.weather_data.weather_950,
.weather_data.weather_951,
.weather_data.weather_952,
.weather_data.weather_953,
.weather_data.weather_954,
.weather_data.weather_955,
.weather_data.weather_956,
.weather_data.weather_957,
.weather_data.weather_958,
.weather_data.weather_959,
.weather_data.weather_960,
.weather_data.weather_961,
.weather_data.weather_962
{
	background-color:#000000;
}

/*blue*/
.weather_data.weather_300,
.weather_data.weather_301,
.weather_data.weather_302,
.weather_data.weather_310,
.weather_data.weather_311,
.weather_data.weather_312,
.weather_data.weather_321,
.weather_data.weather_500,
.weather_data.weather_501,
.weather_data.weather_502,
.weather_data.weather_503,
.weather_data.weather_504,
.weather_data.weather_511,
.weather_data.weather_520,
.weather_data.weather_521,
.weather_data.weather_522,
.weather_data.weather_531,
.weather_data.weather_600,
.weather_data.weather_601,
.weather_data.weather_602,
.weather_data.weather_611,
.weather_data.weather_621
{
	background-color:#55AAFF;
}

/*gray*/
.weather_data.weather_701,
.weather_data.weather_711,
.weather_data.weather_721,
.weather_data.weather_731,
.weather_data.weather_741,
.weather_data.weather_751,
.weather_data.weather_761,
.weather_data.weather_762,
.weather_data.weather_771,
.weather_data.weather_781,
.weather_data.weather_802,
.weather_data.weather_803,
.weather_data.weather_804
{
	background-color:#808080;
}



/*yellow*/
.weather_data.weather_800,
.weather_data.weather_801
{
	background-color:#E0B000;
}
/*night*/
.weather_data.night {
	background-color:#41403b;
}
		
.daily_weather_logo,
.hourly_weather_logo {
	width: 100px;
	display:inline-block;
}

.weather_header {
	padding:0px;
	position: relative;
	z-index: 10;
}
.weather_header_wrapper {
	background-color:#d7d7d7;
}
.weather_header_wrapper > div {
	text-align:center;
}

.row_weather > div {
	text-align:center;
}

.row_weather {
    display: table;
    width:100%;
	table-layout: fixed;
}
.row_weather > div span {
    display: inline-block;
    width:100%;
}

.row_weather [class*="col-"] {
    float: none;
    display: table-cell;
    vertical-align: middle;
}


.align-left {
	text-align:left;
}

.weather_data .separator
{
	margin-top: 10px;
  	padding-bottom: 10px;
}

.separator {
	text-align:center;
	line-height: 1px;
	height: 1px;
	position: relative;
  	background-color:transparent;
}

.separator > span {
	display: inline-block;
	border-top: 1px solid #FFFFFF;
	position: absolute;
	top: 0;
 	bottom: 0;
	right: 10%;
	left: 10%;
}

.weather_type {
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
}

.weather_chooser {
	position:relative;
}


.container-centered {
    height: 100%;
    text-align: center;  /* align the inline(-block) elements horizontally */
    font: 0/0 a;         /* remove the gap between inline(-block) elements */
}

.container-centered:before {    /* create a full-height inline block pseudo=element */
    content: ' ';
    display: inline-block;
    vertical-align: middle;  /* vertical alignment of the inline element */
    height: 100%;
}

.elem-centered {
    display: inline-block;
    vertical-align: middle;  /* vertical alignment of the inline element */
    font: 16px/1 Arial sans-serif;        /* <-- reset the font property */
}



/* Setting */

.setting_section_header {
	font-size:0.7em;
	background-color:#d7d7d7;
	color:black;
	padding:2px;
}
.input_control_checkbox_label_desc_data,
.input_control_text_label_desc_icon,
.input_control_select_label_desc_icon {
	display:table;
	table-layout: fixed;
}
.input_control_checkbox_label_desc_data [class*="col-"],
.input_control_text_label_desc_icon [class*="col-"],
.input_control_select_label_desc_icon [class*="col-"] {
  float: none;
  display: table-cell;
  vertical-align: middle;
}

.input_control_text_icon,
.input_control_select_icon  {
	color:#5c5c5c;
	font-size:1.3em;
}

.input_control_text_icon_wrapper,
.input_control_select_icon_wrapper 
.input_control_checkbox_input_wrapper 
{
	margin-right:5px;
}

.input_control_separator {
	margin-top:5px;
	margin-bottom:5px;
}

.input_control_text,
.input_control_select,
.input_control_checkbox {
	background-color: #E0E0E0;
	margin-top: 5px;
	margin-bottom: 5px;
	padding: 2px;
}
.input_control_checkbox_desc,
.input_control_text_desc,
.input_control_select_desc{
	font-size:0.8em;
}

.input_control_text_data input,
.input_control_select_data select{
	width:100%;
	
}

.input_control_separator,
.input_control_text_data,
.input_control_select_data{
	display:none;
	padding-left: 15px;
  	padding-right: 15px;
}

.show_input_data .input_control_separator,
.show_input_data .input_control_text_data,
.show_input_data .input_control_select_data{
	display:block;
}

.show_input_data .input_control_text_desc,
.show_input_data .input_control_select_desc{
	display:none;
}

.show_input_data .input_control_text_label > span:after,
.show_input_data .input_control_select_label > span:after {
  content: " :";
}


.fa-setting-chevron:before {
  content: "\f054";
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}
.fa-setting-chevron {
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}
.show_input_data .fa-setting-chevron {
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  transform: rotate(90deg);
}


.form_submit {
	margin-top:20px;
}
button,
input[type="button"]
{
	display: inline-block;
	width: 100%;
	vertical-align: middle;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
	background: #dd4814;
	border: 2px solid #dd4814;
	border-radius: 6px;
	color: white;
	padding: 9px 25px;
	text-align: center;
	text-decoration: none;
	position: relative;
}

.button_wrapper {
  margin: 5px;
  width: 230px;
  display: inline-block;
}

.form_submit button:active,
.form_submit input[type="button"]:active
{
	background: #FF4200;
	border: 2px solid #dd4814;
}




.container {
  margin-right: auto;
  margin-left: auto;
  /*
  padding-left: 15px;
  padding-right: 15px;
  */
}
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
.container-fluid {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}
.row {
	/*	
  margin-left: -15px;
  margin-right: -15px;
  */
  margin-left: 0px;
  margin-right: 0px;
}
.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
}
.col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12 {
  float: left;
}
.col-xs-12 {
  width: 100%;
}
.col-xs-11 {
  width: 91.66666667%;
}
.col-xs-10 {
  width: 83.33333333%;
}
.col-xs-9 {
  width: 75%;
}
.col-xs-8 {
  width: 66.66666667%;
}
.col-xs-7 {
  width: 58.33333333%;
}
.col-xs-6 {
  width: 50%;
}
.col-xs-5 {
  width: 41.66666667%;
}
.col-xs-4 {
  width: 33.33333333%;
}
.col-xs-3 {
  width: 25%;
}
.col-xs-2 {
  width: 16.66666667%;
}
.col-xs-1 {
  width: 8.33333333%;
}
.col-xs-pull-12 {
  right: 100%;
}
.col-xs-pull-11 {
  right: 91.66666667%;
}
.col-xs-pull-10 {
  right: 83.33333333%;
}
.col-xs-pull-9 {
  right: 75%;
}
.col-xs-pull-8 {
  right: 66.66666667%;
}
.col-xs-pull-7 {
  right: 58.33333333%;
}
.col-xs-pull-6 {
  right: 50%;
}
.col-xs-pull-5 {
  right: 41.66666667%;
}
.col-xs-pull-4 {
  right: 33.33333333%;
}
.col-xs-pull-3 {
  right: 25%;
}
.col-xs-pull-2 {
  right: 16.66666667%;
}
.col-xs-pull-1 {
  right: 8.33333333%;
}
.col-xs-pull-0 {
  right: auto;
}
.col-xs-push-12 {
  left: 100%;
}
.col-xs-push-11 {
  left: 91.66666667%;
}
.col-xs-push-10 {
  left: 83.33333333%;
}
.col-xs-push-9 {
  left: 75%;
}
.col-xs-push-8 {
  left: 66.66666667%;
}
.col-xs-push-7 {
  left: 58.33333333%;
}
.col-xs-push-6 {
  left: 50%;
}
.col-xs-push-5 {
  left: 41.66666667%;
}
.col-xs-push-4 {
  left: 33.33333333%;
}
.col-xs-push-3 {
  left: 25%;
}
.col-xs-push-2 {
  left: 16.66666667%;
}
.col-xs-push-1 {
  left: 8.33333333%;
}
.col-xs-push-0 {
  left: auto;
}
.col-xs-offset-12 {
  margin-left: 100%;
}
.col-xs-offset-11 {
  margin-left: 91.66666667%;
}
.col-xs-offset-10 {
  margin-left: 83.33333333%;
}
.col-xs-offset-9 {
  margin-left: 75%;
}
.col-xs-offset-8 {
  margin-left: 66.66666667%;
}
.col-xs-offset-7 {
  margin-left: 58.33333333%;
}
.col-xs-offset-6 {
  margin-left: 50%;
}
.col-xs-offset-5 {
  margin-left: 41.66666667%;
}
.col-xs-offset-4 {
  margin-left: 33.33333333%;
}
.col-xs-offset-3 {
  margin-left: 25%;
}
.col-xs-offset-2 {
  margin-left: 16.66666667%;
}
.col-xs-offset-1 {
  margin-left: 8.33333333%;
}
.col-xs-offset-0 {
  margin-left: 0%;
}
@media (min-width: 768px) {
  .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12 {
    float: left;
  }
  .col-sm-12 {
    width: 100%;
  }
  .col-sm-11 {
    width: 91.66666667%;
  }
  .col-sm-10 {
    width: 83.33333333%;
  }
  .col-sm-9 {
    width: 75%;
  }
  .col-sm-8 {
    width: 66.66666667%;
  }
  .col-sm-7 {
    width: 58.33333333%;
  }
  .col-sm-6 {
    width: 50%;
  }
  .col-sm-5 {
    width: 41.66666667%;
  }
  .col-sm-4 {
    width: 33.33333333%;
  }
  .col-sm-3 {
    width: 25%;
  }
  .col-sm-2 {
    width: 16.66666667%;
  }
  .col-sm-1 {
    width: 8.33333333%;
  }
  .col-sm-pull-12 {
    right: 100%;
  }
  .col-sm-pull-11 {
    right: 91.66666667%;
  }
  .col-sm-pull-10 {
    right: 83.33333333%;
  }
  .col-sm-pull-9 {
    right: 75%;
  }
  .col-sm-pull-8 {
    right: 66.66666667%;
  }
  .col-sm-pull-7 {
    right: 58.33333333%;
  }
  .col-sm-pull-6 {
    right: 50%;
  }
  .col-sm-pull-5 {
    right: 41.66666667%;
  }
  .col-sm-pull-4 {
    right: 33.33333333%;
  }
  .col-sm-pull-3 {
    right: 25%;
  }
  .col-sm-pull-2 {
    right: 16.66666667%;
  }
  .col-sm-pull-1 {
    right: 8.33333333%;
  }
  .col-sm-pull-0 {
    right: auto;
  }
  .col-sm-push-12 {
    left: 100%;
  }
  .col-sm-push-11 {
    left: 91.66666667%;
  }
  .col-sm-push-10 {
    left: 83.33333333%;
  }
  .col-sm-push-9 {
    left: 75%;
  }
  .col-sm-push-8 {
    left: 66.66666667%;
  }
  .col-sm-push-7 {
    left: 58.33333333%;
  }
  .col-sm-push-6 {
    left: 50%;
  }
  .col-sm-push-5 {
    left: 41.66666667%;
  }
  .col-sm-push-4 {
    left: 33.33333333%;
  }
  .col-sm-push-3 {
    left: 25%;
  }
  .col-sm-push-2 {
    left: 16.66666667%;
  }
  .col-sm-push-1 {
    left: 8.33333333%;
  }
  .col-sm-push-0 {
    left: auto;
  }
  .col-sm-offset-12 {
    margin-left: 100%;
  }
  .col-sm-offset-11 {
    margin-left: 91.66666667%;
  }
  .col-sm-offset-10 {
    margin-left: 83.33333333%;
  }
  .col-sm-offset-9 {
    margin-left: 75%;
  }
  .col-sm-offset-8 {
    margin-left: 66.66666667%;
  }
  .col-sm-offset-7 {
    margin-left: 58.33333333%;
  }
  .col-sm-offset-6 {
    margin-left: 50%;
  }
  .col-sm-offset-5 {
    margin-left: 41.66666667%;
  }
  .col-sm-offset-4 {
    margin-left: 33.33333333%;
  }
  .col-sm-offset-3 {
    margin-left: 25%;
  }
  .col-sm-offset-2 {
    margin-left: 16.66666667%;
  }
  .col-sm-offset-1 {
    margin-left: 8.33333333%;
  }
  .col-sm-offset-0 {
    margin-left: 0%;
  }
}
@media (min-width: 992px) {
  .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
    float: left;
  }
  .col-md-12 {
    width: 100%;
  }
  .col-md-11 {
    width: 91.66666667%;
  }
  .col-md-10 {
    width: 83.33333333%;
  }
  .col-md-9 {
    width: 75%;
  }
  .col-md-8 {
    width: 66.66666667%;
  }
  .col-md-7 {
    width: 58.33333333%;
  }
  .col-md-6 {
    width: 50%;
  }
  .col-md-5 {
    width: 41.66666667%;
  }
  .col-md-4 {
    width: 33.33333333%;
  }
  .col-md-3 {
    width: 25%;
  }
  .col-md-2 {
    width: 16.66666667%;
  }
  .col-md-1 {
    width: 8.33333333%;
  }
  .col-md-pull-12 {
    right: 100%;
  }
  .col-md-pull-11 {
    right: 91.66666667%;
  }
  .col-md-pull-10 {
    right: 83.33333333%;
  }
  .col-md-pull-9 {
    right: 75%;
  }
  .col-md-pull-8 {
    right: 66.66666667%;
  }
  .col-md-pull-7 {
    right: 58.33333333%;
  }
  .col-md-pull-6 {
    right: 50%;
  }
  .col-md-pull-5 {
    right: 41.66666667%;
  }
  .col-md-pull-4 {
    right: 33.33333333%;
  }
  .col-md-pull-3 {
    right: 25%;
  }
  .col-md-pull-2 {
    right: 16.66666667%;
  }
  .col-md-pull-1 {
    right: 8.33333333%;
  }
  .col-md-pull-0 {
    right: auto;
  }
  .col-md-push-12 {
    left: 100%;
  }
  .col-md-push-11 {
    left: 91.66666667%;
  }
  .col-md-push-10 {
    left: 83.33333333%;
  }
  .col-md-push-9 {
    left: 75%;
  }
  .col-md-push-8 {
    left: 66.66666667%;
  }
  .col-md-push-7 {
    left: 58.33333333%;
  }
  .col-md-push-6 {
    left: 50%;
  }
  .col-md-push-5 {
    left: 41.66666667%;
  }
  .col-md-push-4 {
    left: 33.33333333%;
  }
  .col-md-push-3 {
    left: 25%;
  }
  .col-md-push-2 {
    left: 16.66666667%;
  }
  .col-md-push-1 {
    left: 8.33333333%;
  }
  .col-md-push-0 {
    left: auto;
  }
  .col-md-offset-12 {
    margin-left: 100%;
  }
  .col-md-offset-11 {
    margin-left: 91.66666667%;
  }
  .col-md-offset-10 {
    margin-left: 83.33333333%;
  }
  .col-md-offset-9 {
    margin-left: 75%;
  }
  .col-md-offset-8 {
    margin-left: 66.66666667%;
  }
  .col-md-offset-7 {
    margin-left: 58.33333333%;
  }
  .col-md-offset-6 {
    margin-left: 50%;
  }
  .col-md-offset-5 {
    margin-left: 41.66666667%;
  }
  .col-md-offset-4 {
    margin-left: 33.33333333%;
  }
  .col-md-offset-3 {
    margin-left: 25%;
  }
  .col-md-offset-2 {
    margin-left: 16.66666667%;
  }
  .col-md-offset-1 {
    margin-left: 8.33333333%;
  }
  .col-md-offset-0 {
    margin-left: 0%;
  }
}
@media (min-width: 1200px) {
  .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 {
    float: left;
  }
  .col-lg-12 {
    width: 100%;
  }
  .col-lg-11 {
    width: 91.66666667%;
  }
  .col-lg-10 {
    width: 83.33333333%;
  }
  .col-lg-9 {
    width: 75%;
  }
  .col-lg-8 {
    width: 66.66666667%;
  }
  .col-lg-7 {
    width: 58.33333333%;
  }
  .col-lg-6 {
    width: 50%;
  }
  .col-lg-5 {
    width: 41.66666667%;
  }
  .col-lg-4 {
    width: 33.33333333%;
  }
  .col-lg-3 {
    width: 25%;
  }
  .col-lg-2 {
    width: 16.66666667%;
  }
  .col-lg-1 {
    width: 8.33333333%;
  }
  .col-lg-pull-12 {
    right: 100%;
  }
  .col-lg-pull-11 {
    right: 91.66666667%;
  }
  .col-lg-pull-10 {
    right: 83.33333333%;
  }
  .col-lg-pull-9 {
    right: 75%;
  }
  .col-lg-pull-8 {
    right: 66.66666667%;
  }
  .col-lg-pull-7 {
    right: 58.33333333%;
  }
  .col-lg-pull-6 {
    right: 50%;
  }
  .col-lg-pull-5 {
    right: 41.66666667%;
  }
  .col-lg-pull-4 {
    right: 33.33333333%;
  }
  .col-lg-pull-3 {
    right: 25%;
  }
  .col-lg-pull-2 {
    right: 16.66666667%;
  }
  .col-lg-pull-1 {
    right: 8.33333333%;
  }
  .col-lg-pull-0 {
    right: auto;
  }
  .col-lg-push-12 {
    left: 100%;
  }
  .col-lg-push-11 {
    left: 91.66666667%;
  }
  .col-lg-push-10 {
    left: 83.33333333%;
  }
  .col-lg-push-9 {
    left: 75%;
  }
  .col-lg-push-8 {
    left: 66.66666667%;
  }
  .col-lg-push-7 {
    left: 58.33333333%;
  }
  .col-lg-push-6 {
    left: 50%;
  }
  .col-lg-push-5 {
    left: 41.66666667%;
  }
  .col-lg-push-4 {
    left: 33.33333333%;
  }
  .col-lg-push-3 {
    left: 25%;
  }
  .col-lg-push-2 {
    left: 16.66666667%;
  }
  .col-lg-push-1 {
    left: 8.33333333%;
  }
  .col-lg-push-0 {
    left: auto;
  }
  .col-lg-offset-12 {
    margin-left: 100%;
  }
  .col-lg-offset-11 {
    margin-left: 91.66666667%;
  }
  .col-lg-offset-10 {
    margin-left: 83.33333333%;
  }
  .col-lg-offset-9 {
    margin-left: 75%;
  }
  .col-lg-offset-8 {
    margin-left: 66.66666667%;
  }
  .col-lg-offset-7 {
    margin-left: 58.33333333%;
  }
  .col-lg-offset-6 {
    margin-left: 50%;
  }
  .col-lg-offset-5 {
    margin-left: 41.66666667%;
  }
  .col-lg-offset-4 {
    margin-left: 33.33333333%;
  }
  .col-lg-offset-3 {
    margin-left: 25%;
  }
  .col-lg-offset-2 {
    margin-left: 16.66666667%;
  }
  .col-lg-offset-1 {
    margin-left: 8.33333333%;
  }
  .col-lg-offset-0 {
    margin-left: 0%;
  }
}
.clearfix:before,
.clearfix:after,
.container:before,
.container:after,
.container-fluid:before,
.container-fluid:after,
.row:before,
.row:after {
  content: " ";
  display: table;
}
.clearfix:after,
.container:after,
.container-fluid:after,
.row:after {
  clear: both;
}
.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.pull-right {
  float: right !important;
}
.pull-left {
  float: left !important;
}
.hide {
  display: none !important;
}
.show {
  display: block !important;
}
.invisible {
  visibility: hidden;
}
.text-hide {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}
.hidden {
  display: none !important;
}
.affix {
  position: fixed;
}
